.gradient {
    display: flex;
    transform: rotate(-16.037deg);
    flex-shrink: 0;
    background-image: radial-gradient(27.16% 21.82% at 67.28% 53.71%, rgba(0, 26, 255, 0.20) 0%, rgba(88, 105, 255, 0.20) 0.01%, rgba(5, 0, 255, 0.00) 100%), radial-gradient(35.98% 33.58% at 39.67% 51.2%, rgba(255, 0, 199, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(39.33% 30.55% at 50.8% 38.07%, rgba(133, 139, 198, 0.60) 0%, rgba(255, 255, 255, 0.00) 100%);
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    width: 55rem;
    height: 55rem;
    margin-left: 42rem;
    margin-top: 2rem;
}
